{# app/Resources/views/form/fields.html.twig #}

{# Add proper BS4 formatting #}
{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}


{# Add proper BS4 formatting #}
{%- block textarea_widget -%}
    <textarea {{ block('widget_attributes') }} class="form-control" rows="3" v-model="test">{{ value }}</textarea>
{%- endblock textarea_widget -%}


{# Add proper BS4 formatting #}
{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="alert alert-danger" role="alert">
            <h3>There have been a some errors:</h3>
            <ul>
                {%- for error in errors -%}
                    <li>{{ error.message }}</li>
                {%- endfor -%}
            </ul>
        </div>
    {%- endif -%}
{%- endblock form_errors -%}


{# Add a nice vue v-model tie in #}
{%- block widget_attributes -%}
    id="{{ id }}" name="{{ full_name }}"
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock widget_attributes -%}